* {
  font-family: "Roboto", sans-serif;
}
.navbar-nav {
  width: 504px;
  font-size: 18px;
  color: #040447;
}
.btn-dark-blue {
  background: linear-gradient(180deg, #0c0c66 0%, #040440 100%);
  border-radius: 15px;
  color: #ffffff;
  width: fit-content;
}
.bg-light-cyan {
  background: #edfcfe;
}
h2 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #56646c;
}
span {
  font-weight: 900;
  font-size: 20px;
  line-height: 30px;
  color: #040447;
}
.bg-dark-blue {
  background: #040447;
}
p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 40px;
  color: #efefef;
  opacity: 0.7;
}
h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}
@media screen and (max-width: 600px) {
  .navbar-end,
  .none {
    display: none;
  }
  .responsive-image {
    width: 300px;
  }
}
