* {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
.navbar-nav {
  font-family: Roboto;
  font-size: 18px;
  line-height: 28px;
  padding: 40px 0;
}
.bg-light-cyan {
  background-color: #edfcfe;
}

h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 38px;
  line-height: 48px;
  color: #040447;
  text-align: initial;
}
p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: #56646c;
  text-align: start;
}
.btn-dark-blue {
  background: linear-gradient(180deg, #0c0c66 0%, #040440 100%);
  border-radius: 15px;
  color: #ffffff;
  width: 140px;
  height: 60px;
}
.btn-white {
  width: 140px;
  height: 60px;
  border: 1px solid blue;
  border-radius: 15px;
}
.bg-dark-blue {
  background: #040447;
}
.p-5 {
  padding: 3rem !important;
  box-shadow: 0px 15px 35px rgb(0 0 0 / 10%);
}
h3 {
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
}
.overlay {
  background: linear-gradient(117.61deg, #c3ece8 14.93%, #93d8d0 92.32%);
  position: absolute;
  bottom: 0;
  width: 322px;
  display: none;
  margin: 0 14px;
}
.overlay-card:hover .overlay {
  display: block;
}
.left,
.right {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px 20px;
}
.right {
  background: linear-gradient(180deg, #0c0c66 0%, #040440 100%);
}
.middle {
  border: none;
}
li.page-item.d-flex.align-items-center.mx-3 {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 0.75px solid #040447;
}
li.page-item.mr-2 {
  border: 0.75px solid #040447;
  box-sizing: border-box;
  border-radius: 50%;
}
@media screen and (max-width: 600px) {
  .navbar-end,
  .none {
    display: none;
  }
  .btn-white {
    display: flex;
    flex-direction: column;
  }
  .custom-direction {
    flex-direction: column;
  }
}
