* {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
.btn-navy-blue {
  background: linear-gradient(180deg, #0c0c66 0%, #040440 100%);
  border-radius: 15px;
  border: 1px solid black;
  color: #ffffff;
  text-align: center;
  padding: 19px 30px;
  width: fit-content;
}
nav {
  background-color: #edfcfe !important;
}
.navbar-end-img {
  padding-right: 20px;
}
.why_choose_us {
  width: 100vw;
  padding: 70px 20px 150px;
}

.bg-light-cyan {
  background-color: #edfcfe;
  width: 850px;
  padding-left: 20%;
}
h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 69px;
  line-height: 82px;
  color: #040447;
  overflow: hidden;
}
h2 {
  font-weight: 900;
  font-size: 60px;
  line-height: 70px;
  color: #040447;
  padding: 30px 0 30px;
}
h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #040447;
}

p {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: #56646c;
}
.hero-image-one {
  width: 100%;
  background-image: url(images/Pattern.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.hero {
  background-color: #edfcfe;
  padding-top: 6%;
}
li {
  list-style: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
  color: #56646c;
}
ul li::before {
  content: "\2022";
  color: red;
  font-weight: bolder;
  display: inline-block;
  width: 1em;
  font-size: 2rem;
}
.col-lg-5 {
  background-image: url(images/Img-two.png);
  background-repeat: no-repeat;
}
