* {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
.btn-bg {
  background: linear-gradient(180deg, #0c0c66 0%, #040440 100%);
  border-radius: 15px;
  color: #ffffff;
  text-align: center;
  padding: 0.4375rem 1.25rem;
}
.navbar-end-img {
  padding-right: 20px;
}
h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 69px;
  line-height: 82px;
  color: #040447;
}
p {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: #56646c;
}
.hero-image-one {
  width: 100%;
}
.hero {
  background-color: #edfcfe;
}
